.wrapper {
  height: 15.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
}

.wrapper p {
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
  text-align: center;
  color: var(--gray-300);
  margin-top: 2rem;
}
